.content {
    border: 7px solid gray;
    width: 200px;
    height: 80px; 
    padding: 10px;
    margin-top: 8px;
}

.holder{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.temp-flag {
    border-color: purple;
}
.wind-flag {
    border-color: lightskyblue;
}